<?xml version="1.0" encoding="utf-8" ?>
<general>
	<!--Css-->
	<css src="/Css/frontend-default.css"/>
	<css src="/Css/backend-default.css"/>
	
	<navs>
		<nav var="topMainMenu-accueil">
			<string lang="fr" value="Accueil"/>
		</nav>
		<nav var="topMainMenu-support">
			<string lang="fr" value="Support"/>
		</nav>
		<nav var="topMainMenu-deconnexion">
			<string lang="fr" value="Déconnexion"/>
		</nav>
		<nav var="topMainMenu-connexion">
			<string lang="fr" value="Connexion"/>
		</nav>
		<nav var="topMainMenu-inscription">
			<string lang="fr" value="Inscription"/>
		</nav>
		<nav var="topMainMenu-compte">
			<string lang="fr" value="Mon compte"/>
		</nav>
	</navs>
</general>
