<section id="presentation">
<h4>Scientiavulgaria</h4>
<h5>« Nam non solum scire aliquid, artis est, sed, quaedam as etiam docendi »,Cicéron(littéralement : 
<em>il n'existe pas seulement l'art d'apprendre mais aussi celui d'enseigner</em>)</h5>

	<p>« Nam et ipsa scientia potestas est »(trad : En effet le savoir lui-même est pouvoir), Francis Bacon ;
		c'est celui de comprendre notre environnement, de l'influencer consciemment (ou presque …) et
		de circonscrire son emprise sur nous.
	</p>
	<p>
		Scientiavulgaria est une médiathèque numérique, c'est à dire une entité dématérialisée – dans le sens où
		on ne tient pas l’œuvre que l'on consulte dans ses mains et l'on y accède par le biais de l'Internet .
		Elle contient de ce fait une multitude de supports différents (audio, texte, vidéo etc...), son objectif
		est triple :
		<ul>
			<li>
				<h6>Permettre le libre accès à la culture et au savoir :</h6>
				C'est à dire de fournir dans un premier temps les outils et les connaissances nécessaires pour
				y accéder et pour apprendre par sois-même, dans un second temps de mettre à disposition une grand
				quantité de données centralisée en un seul « nœud ».
			</li>
			<li>
				<h6>Archiver :</h6>
				En effet, malgré la prolifération de données en tous genres ou plutôt à cause d'elle, 
				la durée de vie des données n'a « jamais » était aussi courte de quelques années tout au plus 
				pour les support standards(de quelques siècles à quelques millénaires pour les parchemins, papyrus) 
				d'où la nécessite de répliquer ces données en de nombreux points de façon transparente.
			</li>
			<li>
				<h6>Lutter contre la censure :</h6>
				Aucune œuvre ne saurait être refusée ou supprimée du fait des opinions politiques, 
				religieuses de son(ses) auteur(s), excepté si celles-ci enfreignent les lois en vigueur 
				(délits de presse, diffamation, injure) hors références historiques. 
				En effet c'est la diversité des idées qui forment une société et il est temps de rompre avec 
				une histoire écrite par les vainqueurs.
			</li>
		</ul>
	</p>
	<p>
		Pourquoi la création de scientiavulgaria ?<br/>
		Tout a commencé avec une idée bien moins noble que celles que je vous ai exposées : avec un ami 
		nous avions décidé de développer une « base de donnée » privée pour stocker nos films, logiciels 
		et musiques piratées( bien entendu). Puis avec les années mon regard sur le monde a changé au fil 
		de nombreuses lectures( d'aucuns diront trop nombreuses lectures ): j'en suis donc arrivé à la 
		conclusion que notre société est déséquilibrée : en effet la copie à l'identique d'un contenu numérique 
		à « l'identique » est possible avec un coût dérisoire, or les ayant-droits( maison de disque, studio, 
		maison d'édition …) veulent garder les privilèges d'un temps révolu, alors que l'on devrait se réjouir 
		de pouvoir rependre la culture et la connaissance. Un déséquilibre que l'on retrouve aussi dans le monde 
		des sciences avec  « la guerre des brevets » et le principe de « publier pour survivre » : ce qui amène 
		au fait qu'une partie des connaissances ne sont pas accessibles et donc non vérifiables( imaginer un 
		théorème dont l’accès à sa  démonstration est interdit, dont vous n'auriez le droit de vous servir que 
		pendant un temps limité  = un logiciel propriétaire = votre smartphone) et une augmentation significative 
		de fausses publications(plagiat, falsifications des résultats...). D'où l'idée de déviée le projet initiale 
		de sa route vers une autre  nettement plus excitante mais aussi plus tortueuse.
	
	</p>
	Severus
</section>
